.gender-img{
    width: 100%;
    padding: 10px;
}
.logo-img{
    width: 70%;
    padding: 10px;
}
.body{
    background-color: blanchedalmond;
}
.team-badge{
    width: 100%;
}
.teamDetail{
    background-color: brown;
    margin-top: 10px;
    border-radius: 5px;
}
.teamDetail-text{
    padding: 30px;
}
.social-media img{
    width: 65px;
}
.social-media{
    padding-bottom: 70px;
}
.social-media a{
    padding: 10px;
}
